* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #2951a7;
  overflow-x: hidden;
}

.latszik {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.container-fluid {
  background-color: #11a3bd;
  color: #fff;
}

.container-fluid h2 {
  color: #e3e3e3;
}

.container-fluid section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #eee;
  margin-bottom: -12px;
  padding-top: 10px;
}

.container-fluid section h3 {
  color: #fff;
  padding-bottom: 2px;
  border-bottom: 1px solid #fff;
}

.container-fluid section p {
  font-size: 19px;
  text-align: center;
  font-weight: 300;
}

.container-fluid .rolunk {
  background-color: #33b3ca;
}

.container-fluid .csoport {
  background-color: #11a3bd;
}

.container-fluid .celok {
  background-color: #10869b;
}

.container-fluid #rolunk {
  padding-top: 12px;
  padding-bottom: 12px;
}

.container-fluid #infok {
  background-color: #0b6170;
  padding-top: 12px;
  padding-bottom: 12px;
}

.container-fluid #infok a, .container-fluid #infok td {
  color: #eee;
  text-decoration: none;
  font-size: 17px;
}

.container-fluid #elerhetoseg {
  background-color: #0f224b;
  padding-top: 12px;
  padding-bottom: 12px;
}

.container-fluid #elerhetoseg a {
  color: #eee;
}

footer {
  width: 100vw;
  background-color: #111;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  padding: 15px 0 0px 0;
}

/* Tablak*/
table#two, table#three, table#four, table#five, table#six {
  display: none;
}

.page-link {
  background-color: #14788a !important;
}

.page-link:hover {
  color: #aaaaaa !important;
}

.close {
  cursor: pointer;
  padding: 10px;
  margin-top: -30px;
  margin-left: 15px;
}
