* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body {
	background-color: rgb(41, 81, 167);
	overflow-x: hidden;
}

.latszik {
	display: flex !important;
	flex-wrap: wrap !important;
}
.container-fluid {
	background-color: rgb(17, 163, 189);
	color: #fff;
	h2 {
		color: #e3e3e3;
	}
	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		border-top: 1px solid #eee;
		margin-bottom: -12px;
		padding-top: 10px;
		h3 {
			color: #fff;
			padding-bottom: 2px;
			border-bottom: 1px solid #fff;
		}
		p {
			font-size: 19px;
			text-align: center;
			font-weight: 300;
		}
	}
	.rolunk {
		background-color: rgb(51, 179, 202);
	}
	.csoport {
		background-color: rgb(17, 163, 189);
	}
	.celok {
		background-color: rgb(16, 134, 155);
	}
	#rolunk {
		padding-top: 12px;
		padding-bottom: 12px;
	}
	#infok {
		background-color: rgb(11, 97, 112);
		padding-top: 12px;
		padding-bottom: 12px;
		a,td {
			color: #eee;
			text-decoration: none;
			font-size: 17px;
		}
	}
	#elerhetoseg {
		background-color: rgb(15, 34, 75);
		padding-top: 12px;
		padding-bottom: 12px;
		a {
			color: #eee;
		}
	}
}

footer {
	width: 100vw;
	background-color: #111;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	p {
		padding: 15px 0 0px 0;
	}
}

/* Tablak*/
table#two, table#three, table#four, table#five, table#six {
	display: none;
  }
  .page-link {
	background-color: rgb(20, 120, 138) !important;
	&:hover {
		color: rgb(170, 170, 170) !important;
	}
  }
  .close {
	  cursor: pointer;
	  padding: 10px;
	  margin-top: -30px;
	  margin-left: 15px;
  }